.counter-container{
  text-align: center;
  font-family: Arial ,sans-serif;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-btn{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsla(197, 71%, 68%, 0.896);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-btn:hover{
    background-color: hsla(197, 62%, 53%, 0.916);
}